 path {
    opacity: 0.4;
    stroke: #A69B9A;
    stroke-width: 8;
    fill: #E6CDCA;
    }

    #simplex, #tree
    {
    text-align: center;
    }

    .node {
    cursor: pointer;
    }

    .node circle {
    fill: #fff;

    stroke: steelblue;
    stroke-width: 1.5px;
    }

    .node text {
    font: 10px sans-serif;
    }

    .doubled{
    fill: yellow !important;
    }


    .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
    }

    h1
    {
    text-align: center;
    }

    #additional1, #additional2
    {
    border: 1px solid;
    text-align: center;
    }

    #roottags
    {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    }

div.circleTooltip {	
    position: absolute;			
    text-align: center;			
    display: inline-block;
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}